{{#if template}}
<template>
  <div></div>
</template>
{{/if}}

{{#if script}}
<script>
export default {
  name: '{{ kebabCase name }}',
  data() {
    return {}
  },
  mounted() {},
  methods: {}
}
</script>
{{/if}}

{{#if style}}
<style lang="less" scoped></style>
{{/if}}